body {
  background-color: lightgray;
  align-items: center;
}
h1 {
  font-family: monospace;
  color: slateblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
p {
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

}

img {
  display:block;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;

}

iframe {
  display:block;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* -- TopNavigation -- */
.topNavigation {
  display: contents;
  /* float: right; */
  }

.topNavigation ul {

 display:contents;
}

.topNavigation a {
  display:contents;
   color: dimgray;

}

.button {
    padding: 12px 20px;
    cursor: pointer;
    color: lightgray;
    border: none;
    background-color: slateblue;

}
