body {
  background-color: lightgray;
}
h1 {
  font-family: monospace;
  color: dimgray;
  text-align: center;
}
p {
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

img {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;

}
/* -- TopNavigation -- */

.topNavigation ul {
  float: right;
  display:contents;
}
.topNavigation a {
  float: right;
  display:contents;
  color: dimgray;
}
